<% content_for :title do %>
<%= @campaign.name %>
Edit Pledge Level
<% end %>

<p>Edit Pledge Level</p>

<%= simple_form_for @pledge_level, :html => {:class => 'form-horizontal' } do |f| %>
	<%= f.input :description %>
	<%= f.input :amount %>
	<%= f.button :submit %>
	<% end %>